In [28]:
# import libraries
import pandas as pd
import numpy as np
df=pd.read_csv('mldata_06.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [29]:
df['gender']=df['gender'].replace("Male", 1)
df['gender']=df['gender'].replace("Female", 0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [30]:
# selection of input and output
X=df[['age','height','weight','gender']]
y=df['likeness']

In [31]:
X.head()

   age   height  weight  gender
0   27  170.688    76.0       1
1   41  165.000    70.0       1
2   29  171.000    80.0       1
3   27  173.000   102.0       1
4   29  164.000    67.0       1

In [32]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [33]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier().fit(X,y)

# Prediction
model.predict([[40,178,80,1]])

C:\Users\alias\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [34]:
model.predict([[33,157,56,0]])

C:\Users\alias\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [35]:
# Accuracy
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/5, random_state=0)
# create model
model=DecisionTreeClassifier()
# fitting modling
model.fit(X_train, y_train)
predicted_values=model.predict(X_test)
predicted_values

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Pakora', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [36]:
# checking score
score=accuracy_score(y_test,predicted_values)
score

0.4489795918367347

In [37]:
# how to train and save your model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model=DecisionTreeClassifier().fit(X,y)
joblib.dump(model,"foodie1.joblib")

['foodie1.joblib']

In [44]:
# how to run / import a stored or saved model on your data?
p1=joblib.load("foodie1.joblib")
# p1.score(X,y)

In [41]:
p1.predict([[40,178,80,1]])

C:\Users\alias\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [42]:
model.predict([[33,157,56,0]])

C:\Users\alias\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [43]:
# graph
from sklearn import tree
model=DecisionTreeClassifier().fit(X,y)
# graphically evolution
tree.export_graphviz(model,out_file="foodie.dot",feature_names=['age','height','weight','gender'],class_names=sorted(y.unique()),label='all',
rounded=True,filled=True)